// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card{
  border-top: aliceblue !important;
  border-left: aliceblue !important;
  border-right: aliceblue !important;
  height: 2em;
  margin-top: 0.7em;
}
